.item-card {
    background-color: #fff; 
    border: 1px solid #35B8BE; 
    border-radius: 10px; 
    overflow: hidden;
    display: flex;
    flex-direction: row; 
    align-items: center;
    max-width: 580px;
    padding: 26px;
}

.item-image {
    width: 120px;
    height: 120px; 
    object-fit: cover; 
    margin-right: 30px; 
}

.item-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h3 {
    margin: 0;
    color: var(--color-black-base); 
    font-size: 18px;
}

.item-price {
    color: var(--color-primary); 
}

.item-info p {
    font-size: 14px;
    margin-top: 10px; 
    margin-bottom: 10px;
}

.item-bottom {
    display: flex;
    align-items: center;
}

.item-quantity {
    width: 50px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px 5px;
    text-align: center;
}

.item-quantity::-webkit-inner-spin-button,
.item-quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item-quantity::-ms-clear {
    display: none;
}